asgiref==3.3.1
click==7.1.2
Django==3.1.4
future==0.18.2
gunicorn==20.0.4
joblib==0.17.0
Pillow==7.2.0
pytz==2020.4
PyYAML==5.3.1
regex==2020.9.27
sqlparse==0.4.1
threadpoolctl==2.1.0
tqdm==4.50.0
utils==1.0.1
whitenoise==5.2.0
numpy==1.19.3
openpyxl==3.0.5
pandas==1.1.5
django-crispy-forms==1.10.0
django-heroku==0.3.1
django-allauth==0.44.0
django-letsencrypt==4.0.0
