{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% provider_login_url 'google' %}" class="google btn-social">
              <i class="fa fa-google fa-fw"></i> Login with Google
            </a>
            <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="fb btn-social">
              <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </a>
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn btn-update" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an account?
                    <a href="/register" class="ml-2">Register</a>
                </small> <br>
                <small class="text-muted">
                    <a href="/password-reset" class="ml-2">Forgot Password?</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}